<h1>Hello, welcome to the home page!</h1>

<picture>
    <img src="dog.JPG" alt="My dog while I was coding and he needed to potty" style="width:auto;">
</picture>

<form action="localhost:5000/data">
    <input type="submit" value="View current inventory" />
</form>

<form action="localhost:5000/data/create">
    <input type="submit" value="Add new items into inventory" />
</form>

<form action="localhost:5000/data/update">
    <input type="submit" value="Update items given inventory" />
</form>

<form action="localhost:5000/data/delete">
    <input type="submit" value="Delete items from inventory" />
</form>
